<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="margin: auto; text-align: center; width: 50%; background-color: yellow;">
    <h1 style="text-color: red;">Hello</h1>
    <h3>Welcome My Website</h3>
    <h4>This site is develop in django</h4>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea, ratione! Recusandae consequuntur libero qui a, molestias doloremque 
        harum voluptatum itaque expedita molestiae, impedit quibusdam quia eos omnis soluta consequatur? Id voluptatem
        harum eum non expedita quasi adipisci vero culpa tempora quos autem, cum libero. Nobis praesentium accusantium unde cupiditate at?</p><br>
    <p>This is updated server and merged through azure app</p>
</div>
</body>
</html>
